.content-archivo{
    position: relative;
    margin-right: 20px;
    width: 80px;
    border: 1px solid #F1F1F1;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px 1px inset;
    text-align:center;
}
.destroy-item{
	position: absolute;
    right: 0px;
    top: 0;
    background: rgba(251, 23, 23, 0.89);
    padding: 3px 8px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.destroy-item:hover{
	color:#fff;
}