$bold : latosemibold;
$light : latomedium;
$regular : latoregular!important;
$display : latosemibold;
$cafe : #DAA74B;
$azul :#0BAFD1;
$amarillo:#D3CF27;
$gris : #999999;
h1,h2,h3,h4,h5,h6{
	color:#565656;
}
body{
	font-family: $regular;
}
@mixin li-bottom($px){
	border-bottom: $px solid $amarillo;
  	margin-bottom: 20px;
}
@mixin css3($efect, $data){
	-webkit-#{$efect}:$data;
	-moz-#{$efect}:$data;
	-ms-#{$efect}:$data;
	#{$efect}:$data;
}
.categorias{
	@include li-bottom(3px);
	border-bottom-color: #e98400;
}

.paginate{
  text-align: center;
  .page-numbers{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#E98400;
    color: #fff;
    margin: 0 2px;
    &.current{
      background-color: #999999;
    }
  }
}

.sidebar{
  @media only screen and (min-width: 641px) and (max-width:1024px) {
    margin-top: 20px;
  }
}

.content-header{
	position: relative;
	border-bottom: 10px solid #e98400;
    height: 297px;
	.leftPleca, .rightPleca{
  		position: absolute;
	    top: 0;
	    height: 287px;
	    z-index: 2;
  	}
  	.leftPleca{
  		left: 0;
  	}
  	.rightPleca{
  		right: 0;
  	}
	.download{
	  	color: #fff;
    	font-family: $display;
    }
}
.no-bullet{
  li{
      color:#565656;
	    &:hover{color:#E98400;}
      &:before{ content :"\00BB";	}
		  a{
			 color:#565656;
       &:hover{
        color:#E98400;
       }
		  }
	}
}
#header{
	border-bottom: 10px solid $cafe;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 287px;
	.item{
		background-position: center;
		background-size: cover!important;
		background-repeat: no-repeat;
		height: 287px;
		position: relative;
		.ove{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);
		}
	}
  .owl-controls{top:100%;}
	.owl-dots{
		position: absolute;
  		bottom: 0;
  		left: 50%;
  		@include css3('transform', translateX(-50%));
  	}
}
@mixin margen($data){
	margin-top: $data;
	margin-bottom: $data;
}
#home{
	@include margen(30px!important);
}
// #primary{
// 	@include margen(30px);
// 	.entry-content{
// 		.sd-sharing-enabled{
// 			position: absolute;
//   			top: 0;
//   			right: 10px;
// 		}
// 	}
// }
.btn-red {
    background-color: #c01315;
    z-index: 10;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    position: relative;
}
.btn-red.coments:before {
    width: 0;
    height: 0;
    border-left: 10px solid #c01315;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0px;
}
.btn-red.coments div {
    opacity: 0;
     border-radius: 3px;
    text-align:center;
    position: absolute;
    top: -140%;
    left: 50%;
    background-color: rgba(0,0,0,0.89);
    color: #fff;
    width: 0px;
    font-size: 0;
    line-height: 2;
    @include css3(transform,translateX(-50%));
    @include css3(transition,0.3s);
    z-index: -1;
}
.btn-red.coments:hover{
	color: #fff;
  div{
    opacity: 1;
    width: 110px;
    z-index: 1;
    font-size: 14px;
   
  }
}
.prefoter{
	background-color: #262626;
    padding: 50px 0;
    h3{
    	color:#fff;
    }
    .iconos{
		i{
	    	color:#e98400;
	    	display: inline-block;
	    	border: 1px solid;
	    	border-radius: 50%;
	    	width: 37px;
	    	height: 37px;
	    	padding: 3px;
	    	margin: 0 5px;
	    	&:hover{
	    		background-color: #E98400;
    			color: #262626;
	    	}
	    }
	}
}

.post{
	position:relative;
	h5,h1{
		color: #565656;
		padding: 10px 0;
    border-bottom: 1px solid #565656;
	}
	.titulob{
		font-family: $display;
		position: relative;
	}
	img{border-radius: 15px;}
	.button{
      background-color: #e98400;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 14px;
      font-family: latosemibold;
		&:hover{
			background-color:#d97400;
		}
	}
	p{
		margin-top: 10px;
		color: $gris;
	}
  
}
.title-relacionados{
    position:relative;
    color:#484848;
    &:after{
      content: '';
      width: 70%;
      @media(max-width:930px){width:60%;}    
      @media(max-width:700px){display:none;}
      height: 3px;
      position: absolute;
      background-color: #E98400;
      top: 50%;
      right: 0;
    }
  }
.date{
    color:#808080;
    margin-top:3px;
    margin-left:11px;
    font-size:14px;
}
.com{
  @media(max-width:1025px){
    text-align:right;
  }
}
.botones{
  margin-top: 20px;
  padding:0!important;
  .child-botones{
    padding:0!important;
    span{bottom:0;position:absolute;color:#808080;}
  }
}
.prev-post{
	  margin-bottom: 40px;
    .content-btn{
      bottom: -15px;      
    	@media(min-width:641px){
    	position: absolute;
    	bottom: 0;
    	width: 95%;}
    }
	.sd-sharing-enabled{
    position: absolute;
    a.share-icon{
        border-radius: inherit!important;
        padding: 5px!important;
    }    
	}
  .sd-content ul {
    margin: 0!important;
  }
	span.numcoments{
    position: absolute;
    color: #565656;
    right: -13px;
    font-size: 15px;
    top: 0;
  }
}
.ebooks{
	font-family: $display;
	@include margen(20px!important);
	.titulo{
		position:relative;
		&:after{
			content: '';
			width: 85%;
      @media(max-width:940px){width:75%;}
    	@media(max-width:641px){width:65%;}
      	height: 3px;
    		position: absolute;
    		background-color: #E98400;
    		top: 50%;
    		right: 0;
    	}
	}
	
	.img{
		background-size: cover!important;
  		height: 280px;
  		position: relative;
  		margin-bottom: 20px;
  		.letras{
  			position: absolute;
  			bottom: 0;
  			padding-left: 20px;
  			h3{
				font-family:latoregular;
				color: #E98400;
			}
			h3:last-of-type{
				color: #fff;
			}
  		}
  		span{
  			position: absolute;
  			right: 0;
  			bottom: 0;
  			display: block;
  			background-color:#E98400;
  			color: #fff;
  			padding: 0px 10px;
  			font-family: initial;
  			font-weight: bold;
  			font-size: 26px;
  			cursor: pointer;
  			&:hover{
  				color:#E98400;
  				background-color: #fff;
  			}
  		}
	}
  .ebooks-item{
    .owl-dots{
      display:none!important;
    }
  }
}
#secondary{
	h3{
		color: #999999;
		text-align: center;
	}
	.misredes{
  		background-color: #6D6C6C;
      padding: 2px 8px;
      color: #fff;
      font-size: 20px;
      display: inline-block;
      margin: 0 10px;
      cursor: pointer;
      position: relative;
  		&:hover{
  			background-color:#E98400;
  		}
	}
	input[type="search"]{
		padding-left: 42px;
		border:1px solid $cafe;
		border-radius: 5px;
	}
	input{
		width: 100%;
	}
	input[type="text"]{
		background-color: rgba(153, 153, 153, 0.19);
		border:none!important;
		box-shadow:none;
		color: $gris;
	}
	.button{
		background-color:#e98400;
    border-radius:5px;
    padding:5px 10px;
    position:absolute;
    right:0;
    bottom:0;
    margin:0;
	}
	.busqueda{
		position: relative;
		margin-top: 20px;
		i{
			display: block;
  			background-color: #e98400;
  			float: left;
  			width: 40px;
  			height: 100%;
  			position: absolute;
  			padding: 5px 10px;
  			color: #fff;
  			border-radius:5px 0 0 5px;
		}
	}
	.otros{
    @media(max-width:1024px){
        padding-top: 30px;
        border-top: 3px solid #E98400;
        margin-top: 40px;
    }
		.item{
			width: 100%;
  			height: 280px;
  			background-size: cover!important;
  			display: block;
  			background-position: center;
  			position: relative;
  			h5{
  				font-family: $bold;
  				color: $cafe;
  				position: absolute;
  				bottom: 0;
  				left: 0;
  				right: 0;
  				margin: 0;
  				padding: 5px;
  				background-color: rgba(0,0,0,0.67);
  			}
		}
    .owl-controls{
      display:none;
    }
	}
}
.overlay{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.37);
}
.relacionados{
	h4{
		font-family: $bold;
		color: $gris;
		text-transform: uppercase;
		padding-left: 10px;
		position:relative;
		&:after{
			content: '';
      width: 65%;
       	height: 3px;
    		position: absolute;
    		background-color: #E98400;
    		top: 50%;
    		right: 0;
    		@include css3(transform,translateY(-50%));
		}
	}
	h5{
		color: #fff;
    	position: absolute;
    	bottom: 0;
    	background-color: rgba(0,0,0,0.59);
    	margin: 0;
    	width: 100%;
    	font-size: 16px;
    	padding: 2px 6px;
    	font-family:latoregular;
	}
	.items-relacionados{
		padding:0 3px 20px!important;
		a{
			overflow: hidden;
    		display: block;
    		position:relative;
    		div{
    			@include css3(transition,.5s linear);
    		}
    		&:hover{
    			div{
    				opacity:.8;
    				@include css3(transform,scale(1.1));
    				@include css3(transition,.5s linear);    				
    			}
    		}
		}
	}
}
.relacionados{
  .owl-controls{
    .owl-nav{
      .owl-prev,.owl-next{
        background-color:transparent!important;
        .owl-dot{background-color:transparent!important;}
      }
    }
  }
  
}
.footer{
	padding: 10px;
  	background-color:#e98400;
  	color: #fff;
  	text-align:center;
  	p{
  		margin: 0;
  	}
}
.forms{
	position: relative;
    z-index: 100;
    padding:21px 0 0 0;
    .suscribir h4{
    	color: #fff;
    	text-align: center;
    	font-family: $bold;
    	font-style: italic;
    	background-color: rgba(0, 0, 0, 0.32);
    }
	form{
		padding: 0 30px;
		p.wysija-paragraph{
			margin: 5px 0;
			input[type="text"]{
			    background-color: rgba(255, 255, 255, 0.49);
			    color: #000;
			    border: none;
			    height: 30px;
			}
		}
	
		input[type="submit"]{
			padding: 5px 0;
    		width: 100%;
    		margin: 0;
    		color: #fff;
    		font-family: latosemibold;
    		font-size: 20px;
    		background-color: #E98400;
		}
	}
}
.destacada{
	background-size: cover!important;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	position: relative;
	z-index: 1;
	border-radius: 10px;
}
.relacionado{
    height: 160px;
    background-position: center center!important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
@media(max-width:1000px){
	.row{
		padding:5px 40px;
	}
}
@media(max-width:640px){
	.row{
		padding:5px 15px;
	}
}
.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background-color: rgba(233, 132, 0, 0.73);
    border-color: rgba(233, 132, 0, 0.73);
    color: #fff;
    border-radius: 5px;
}
.owl-controls{
	position: absolute;
    top: 50%;
    width: 100%;
    @include css3(transform,translateY(-50%));
    img{
    	position: absolute;
    	height: 60px;
    	top: -20px;
    }
    .izqs{left:-30px;}
    .dere{
    	right: -30px;
    	@include css3(transform,rotate(180deg));
    }
}
.clock{
    width: 13px;
    position: absolute;
    left: -5px;
    margin-top: 2px;
}