@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-black218:before {
	content: "\e000";
}
.flaticon-facebook23:before {
	content: "\e001";
}
.flaticon-instagram10:before {
	content: "\e002";
	/*background-color: #fff;*/
  	/*color: #0BAFD1;*/
  	/*border-radius: 5px;*/
}
.flaticon-magnifying-glass32:before {
	content: "\e003";
}
.flaticon-twitter1:before {
	content: "\e004";
}
